<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div th:switch="${products}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No products yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Lista produktów</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.amount}"></td>
                        <!--td><a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-primary"><i class="fas fa-minus"></i></a></td-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/init" class="btn btn-primary"><i class="fas fa-plus"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>
